.home {
    display: flex;
    background-color: #DCDDDD;

    .homeContainer {
        flex: 6;

        .widgets,
        .charts {
            display: flex;
            padding: 1rem 2.5rem;
            gap: 1.5rem;
        }

        .charts {
            padding-top: .5rem;
        }

        .listContainer {
            background-color: white;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            border-radius: 1px;
            padding: 1rem;
            margin: 5px 30px;

            .listTitle {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 1rem;
            }
        }
    }
}