.home {
    display: flex;

    .homeContainer {
        flex: 6;

        .widgets, .charts {
            display: flex;
            padding: 1rem 2.5rem;
            gap: 1.5rem;
        }

        .charts {
            padding-top: .5rem;
        }
    }
}