.featured {
    flex: 2;
    background-color: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 1px;
    padding: 1rem;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

    .title {
            font-size: 14px;
            font-weight: 600;
        }
    }
}