.featured {
    flex: 2;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 1px;
    padding: 1rem;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            font-size: 14px;
            font-weight: 600;
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        flex-direction: column;
        gap: 1.7rem;

        .featuredChart {
            height: 100px;
            width: 100px;
        }

        .title {
            font-weight: 500;
        }

        .description {
            text-align: center;
        }

        .amount {
            font-size: 2em;
        }

        .summary {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 0 10px;

            .item {
                text-align: center;

                .itemTitle {
                    font-size: 14px;
                    color: gray;
                }

                .itemResult {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    font-size: 14px;

                    &.positive {
                        color: #34b1aa;
                    }

                    &.negative {
                        color: #ff6868;
                    }
                }
            }
        }
    }
}








/*
 * react-circular-progressbar styles
 * All of the styles in this file are configurable!
 */

.CircularProgressbar {
    /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   */
    width: 100%;
    /*
   * This fixes a centering issue with CircularProgressbarWithChildren:
   * https://github.com/kevinsqi/react-circular-progressbar/issues/94
   */
    vertical-align: middle;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: #f29f67;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
    stroke: #d6d6d6;
    /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
    stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-text {
    fill: #f29f67;
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
    fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
    fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
    fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
    stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
    stroke: transparent;
}